.keyword {
	color: fuchsia;
	font-style: italic;
}

.number {
	color: orange;
}

.apostrophe {
	color: lightblue;
}

.prog {
	color: deepskyblue;
}

.func {
	color: mediumvioletred;
	font-style: italic;
}

.com, .com * {
	color: lightgray;
	font-style: italic;
}

.str, .str * {
	color: lightgreen;
}