:root {

	font-size: 0.5px;

}

.search-box {
	display: none;
}

.area {
	/*background-color: pink;*/
	width: 100%;
	height: calc( 100vh - 70px);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.editor, .window {
	height: 100%;
	width: 100%;
}

.editor {
	/*background-color: forestgreen;*/
	box-sizing: border-box;
	padding-left: 20px;
	max-height: 100%;
}

.window {
	/*background-color: deepskyblue;*/
	overflow-y:  scroll;
	max-height: calc(100vh - 70px);
}

form {
	width: 100%;
	/*height: 100%;*/
	font-size: 40rem;
	max-width: none;
	margin-top: 25px;
}

form > * {
	display: inline-block;
}

.fx-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
}

#tickbox {
	display: none;
}

label {
	color: red;
	transition: color .2s linear;
}

#tickbox:checked + label {
	color: green;
}

label::-moz-selection { /* Code for Firefox */
    background: transparent;
}

label::selection { 
    background: transparent;
}

select, input {
	width: 250px;
}

textarea {
	display: block;
	width: 100%;
	height: calc(100vh - 70px - 44px - 70px);
	resize: none;
	background: var(--color-white);
}

.left-side {
	max-width: none;
	border: none;
	padding-right: 0px;
}

.header > .aligator {
	max-width: none;
}

header .logo {
	font-size: 120rem;
}
