.postline {
	padding: 3px 10px;
	font-size: 20rem;
}

.postline:nth-child(odd) {
	background-color: rgba(180, 180, 180, 0.4);
}

.postline > a {
	font-size: 20rem;
	text-decoration: none;
}

.postline > a > .post-name {
	color: var(--color-purple);
	font-weight: 500;
}

.postline > a > .post-category {
	color: var(--color-background);
	font-weight: 300;
}