:root {

	font-family: 'Fira Sans', sans-serif;

	font-size: 1px;

	--color-light-blue: #1565c0;
	--color-dark-blue: #003c8f;
	--color-purple: #793862;
	--color-background: #333;
	--color-white: #f2f2f2;

	--max-width: 1000rem;

	color: var(--color-white);

	background-color: var(--color-background);
}

body {
	margin: 0px;
	font-size: 40rem;
	max-width: 100vw;
	/*overflow-x: hidden;*/
}

h1, h2, h3, h, h5, h6, p, ul{
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 60px;
	background-color: var(--color-light-blue);
	border-bottom: 10px solid var(--color-dark-blue);
	box-shadow: 0px 0px 15px 2px black;
}

.aligator {
	max-width: var(--max-width);
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	padding: 40px;
	box-sizing: border-box;
	background-color: var(--color-white);
}

header .aligator, footer .aligator {
	padding: 0 40px;
	background-color: transparent;
}

.logo-box > h1{
	font-size: 60rem;
	line-height: 1;
}

.search-bar {
	height: 25px;
	width: 300px;
	font-size: 20px;
	color: var(--color-purple);
	box-sizing: border-box;
	font-weight: 200;
	outline: 0px;
	background-color: var(--color-white);
	border:none;
	border-radius: 3px;
	padding-left: 3px;
}

.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-purple);
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-purple);
  opacity: 1;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  color: var(--color-purple);
}
.search-bar:-moz-placeholder { /* Firefox 18- */
  color: var(--color-purple);
  opacity: 1;
}

.table {
	box-shadow: 0px 0px 15px 2px black;
	max-width: var(--max-width);
	margin: 60px auto;
	color: var(--color-purple);
}

.left-side {
	padding-right: 40px;
	border-right: 3px solid var(--color-light-blue);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: justify;
	flex-grow: 1;
	max-width: calc( var(--max-width) - 260px );
}

.right-side {
	width: 260px;
	padding-left: 40px;
	box-sizing: border-box;
}

.right-side-ul {
	list-style: none;
	margin-top: 65px;
}

.menu-item {
	color: var(--color-background);
	font-weight: 300;
	text-decoration: none;
	font-size: 30rem;
	transition: color 0.1s linear;
	line-height: 1;
}

.menu-item:hover {
	color: var(--color-purple);
}

.left-side > h1 {
	font-size: 50rem;
	border-bottom: 3px solid var(--color-light-blue);
	margin-bottom: 30px;
}

.left-side > h2 {
	font-size: 40rem;
	margin-bottom: 20rem;
}

.left-side > h3 {
	font-size: 25rem;
	color: var(--color-light-blue);
	margin-left: 20PX;
}

.left-side > h3 + p {
	margin-left: 20px;
}

.left-side > p {
	font-size: 30rem;
	color: var(--color-background);
	font-weight: 300;
	margin-bottom: 50rem;
}

.def-box > p {
	color: var(--color-background);
	font-weight: 300;
	font-size: 25rem;
}

.def-box, .code-box {
	box-sizing: border-box;
	border: 1px solid var(--color-light-blue);
	background-color: white;
	padding: 9px 20px;
	margin-bottom: 50rem;
}

.code-box {
	font-size: 15rem;
	background-color: var(--color-background);
	font-weight: 500;
	color: var(--color-white);
}

.left-side > ul {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.left-side > ul > li > a {
	color: var(--color-light-blue);
	font-weight: 500;
	margin-right: 10px;
	font-size: 20rem;
	text-decoration: none;
}

.left-side > ul {
	margin-top: -20px;
}

.footer {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 50px;
}

.footer-box {
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: var(--color-light-blue);
	transition: color 0.1s linear;
}

.footer a:hover {
	color: var(--color-purple);
}