			<div class="footer-box">
				<div class="aligator">
					<ul class="footer">
						<li><a class="footer-item" href="#">Adatvédelem</a></li>
						<li><a class="footer-item" href="#">Kapcsolat</a></li>
						<li><a class="footer-item" href="login.php">Bejelentkezés</a></li>
					</ul>
				</div>
			</div>