			<div class="header">
				<div class="aligator">
					<div class="logo-box">
						<h1><a class="logo" href="http:\\localhost/padoc">Pascal</a></h1>
					</div>
					<div class="search-box">
						<input class="search-bar" type="text" placeholder="Keresés">
					</div>
				</div>
			</div>