		<meta charset="utf-8">
		<meta name="author" content="Szabó Martin @tob.hu">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Magyar nyelvű pascal dokumentáció középiskolák számára.">
		<meta name="keywords" content=""/>